
<h3>Here's a list of the intersections in our database:</h3>

<table>
	<tr>
		<th>Name</th>
		<th>Borough</th>
		<th>Lat</th>
		<th>Lon</th>
		<th>Collisions</th>
		<th>Persons Injured</th>
		<th>Persons Killed</th>
		<th>Pedestrians Injured</th>
		<th>Pedestrians Killed</th>
		<th>Cyclists Injured</th>
		<th>Cyclists Killed</th>
		<th>Motorists Injured</th>
		<th>Motorists Killed</th>
	</tr>
	<% @intersections.each do |intersection| %>
		<tr>
			<td><%= intersection.intersection %></td>
			<td><%= intersection.borough %></td>
			<td><%= intersection.lat %></td>
			<td><%= intersection.lon %></td>
			<td><%= intersection.collisions %></td>
			<td><%= intersection.persons_injured %></td>
			<td><%= intersection.persons_killed %></td>
			<td><%= intersection.pedestrians_injured %></td>
			<td><%= intersection.pedestrians_killed %></td>
			<td><%= intersection.cyclists_injured %></td>
			<td><%= intersection.cyclists_killed %></td>
			<td><%= intersection.motorists_injured %></td>
			<td><%= intersection.motorists_killed %></td>	
		</tr>
	<% end %>
</table>
